/*-----------------------------------*\
 * style.css
\*-----------------------------------*/

/**
 * copyright 2024 codewithsadee
 */





/*-----------------------------------*\
  #CUSTOM PROPERTY
\*-----------------------------------*/

:root {

  /**
   * COLORS
   */
  --backdrop-background: #000000;
  --reaction-active: #FF4261;
  
  /* Light theme */
  --primary-light: #39608F;
  --on-primary-light: #FFFFFF;
  --tertiary-light: #6C5677;
  --on-tertiary-light: #FFFFFF;
  --background-light: #F8F9FF;
  --on-background-light: #191C20;
  --surface-light: #F8F9FF;
  --surface-container-light: #ECEDF4;
  --surface-container-highest-light: #E1E2E8;
  --on-surface-light: #191C20;
  --on-surface-disabled-light: #191C201f;
  --on-surface-disabled-text-light: #191C2061;
  --surface-variant-light: #DFE2EB;
  --on-surface-variant-light: #43474E;
  --outline-light: #73777F;
  --outline-variant-light: #C3C6CF;
  --secondary-container-light: #D7E3F8;
  --on-secondary-container-light: #111C2B;
  --error-light: #BA1A1A;
  --on-error-light: #FFFFFF;
  --on-error-container-light: #410002;
  --inverse-primary-light: #A3C9FE;
  --inverse-surface-light: #2E3035;
  --inverse-on-surface-light: #EFF0F7;

  /* Dark theme */
  --primary-dark: #A3C9FE;
  --on-primary-dark: #00315B;
  --tertiary-dark: #D8BDE3;
  --on-tertiary-dark: #3C2947;
  --background-dark: #111418;
  --on-background-dark: #E1E2E8;
  --surface-dark: #111418;
  --surface-container-dark: #1D2024;
  --surface-container-highest-dark: #32353A;
  --on-surface-dark: #E1E2E8;
  --on-surface-disabled-dark: #E1E2E81f;
  --on-surface-disabled-text-dark: #E1E2E861;
  --surface-variant-dark: #43474E;
  --on-surface-variant-dark: #C3C6CF;
  --outline-dark: #8D9199;
  --outline-variant-dark: #43474E;
  --secondary-container-dark: #3C4758;
  --on-secondary-container-dark: #D7E3F8;
  --error-dark: #FFB4AB;
  --on-error-dark: #690005;
  --on-error-container-dark: #FFDAD6;
  --inverse-primary-dark: #39608F;
  --inverse-surface-dark: #E1E2E8;
  --inverse-on-surface-dark: #2E3035;

  /**
   * TYPOGRAPHY
   */

  /* Font family */
  --font-primary: 'Inter', sans-serif;
  --font-monospace: 'Roboto Mono', monospace;

  /* Font size */
  --fs-base: 62.5%;
  --fs-display-large: 5.7rem;
  --fs-display-medium: 4.5rem;
  --fs-display-small: 3.6rem;
  --fs-headline-large: 3.2rem;
  --fs-headline-medium: 2.8rem;
  --fs-headline-small: 2.4rem;
  --fs-title-large: 2.2rem;
  --fs-title-medium: 1.6rem;
  --fs-title-small: 1.4rem;
  --fs-body-large: 1.6rem;
  --fs-body-medium: 1.4rem;
  --fs-body-small: 1.2rem;
  --fs-label-large: 1.4rem;
  --fs-label-medium: 1.2rem;
  --fs-label-small: 1.1rem;

  /* Line height */
  --lh-display-large: 64px;
  --lh-display-medium: 52px;
  --lh-display-small: 44px;
  --lh-headline-large: 40px;
  --lh-headline-medium: 36px;
  --lh-headline-small: 32px;
  --lh-title-large: 28px;
  --lh-title-medium: 24px;
  --lh-title-small: 20px;
  --lh-body-large: 24px;
  --lh-body-medium: 20px;
  --lh-body-small: 16px;
  --lh-label-large: 20px;
  --lh-label-medium: 16px;
  --lh-label-small: 16px;

  /* Font weight */
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-bold: 700;

  /* Letter spacing */
  --ls-n-025: -0.25px;
  --ls-p-010: 0.10px;
  --ls-p-015: 0.15px;
  --ls-p-025: 0.25px;
  --ls-p-040: 0.40px;
  --ls-p-050: 0.50px;

  /**
   * SPACING
   */
  --space-base: 4px;
  --space-05: calc(var(--space-base) * 0.5);
  --space-1: calc(var(--space-base) * 1);
  --space-2: calc(var(--space-base) * 2);
  --space-3: calc(var(--space-base) * 3);
  --space-4: calc(var(--space-base) * 4);
  --space-5: calc(var(--space-base) * 5);
  --space-6: calc(var(--space-base) * 6);
  --space-7: calc(var(--space-base) * 7);
  --space-8: calc(var(--space-base) * 8);
  --space-9: calc(var(--space-base) * 9);
  --space-10: calc(var(--space-base) * 10);
  --space-11: calc(var(--space-base) * 11);
  --space-12: calc(var(--space-base) * 12);
  --space-13: calc(var(--space-base) * 13);
  --space-14: calc(var(--space-base) * 14);
  --space-15: calc(var(--space-base) * 15);
  --space-16: calc(var(--space-base) * 16);
  --space-17: calc(var(--space-base) * 17);
  --space-18: calc(var(--space-base) * 18);
  --space-19: calc(var(--space-base) * 19);
  --space-20: calc(var(--space-base) * 20);

  /**
   * BOX SHADOW
   */
  --shadow-1: 0px 1px 3px 1px #00000026, 0px 1px 2px 0px #0000004d;
  --shadow-2: 0px 2px 6px 2px #00000026, 0px 1px 2px 0px #0000004d;
  --shadow-3: 0px 1px 3px 0px #0000004d, 0px 4px 8px 3px #00000026;
  --shadow-4: 0px 2px 3px 0px #0000004d, 0px 6px 10px 4px #00000026;
  --shadow-5: 0px 4px 4px 0px #0000004d, 0px 8px 12px 6px #00000026;

  /**
   * BORDER RADIUS
   */
  --radius-extra-small: 4px;
  --radius-small: 8px;
  --radius-medium: 12px;
  --radius-large: 16px;
  --radius-extra-large: 28px;
  --radius-full: 1000px;

  /**
   * TRANSITION
   */
  
  /* Transition duration */
  --tr-duration-short-1: 50ms;
  --tr-duration-short-2: 100ms;
  --tr-duration-short-3: 150ms;
  --tr-duration-short-4: 200ms;
  --tr-duration-medium-1: 250ms;
  --tr-duration-medium-2: 300ms;
  --tr-duration-medium-3: 350ms;
  --tr-duration-medium-4: 400ms;
  --tr-duration-long-1: 450ms;
  --tr-duration-long-2: 500ms;
  --tr-duration-long-3: 550ms;
  --tr-duration-long-4: 600ms;
  --tr-duration-extra-long-1: 700ms;
  --tr-duration-extra-long-2: 800ms;
  --tr-duration-extra-long-3: 900ms;
  --tr-duration-extra-long-4: 1000ms;

  /* Transition easing */
  --tr-easing-linear: cubic-bezier(0, 0, 1, 1);
  --tr-easing-standard: cubic-bezier(0.2, 0, 0, 1);
  --tr-easing-standard-decelerate: cubic-bezier(0, 0, 0, 1);
  --tr-easing-standard-accelerate: cubic-bezier(0.3, 0, 1, 1);
  --tr-easing-emphasized: cubic-bezier(0.2, 0, 0, 1);
  --tr-easing-emphasized-decelerate: cubic-bezier(0.05, 0.7, 0.1, 1);
  --tr-easing-emphasized-accelerate: cubic-bezier(0.3, 0, 0.8, 0.15);

  
  /**
   * OTHERS
   */
  --top-app-bar-height: calc(var(--space-base) * 16);
  --footer-height: 64px;

}

@media (prefers-color-scheme: light) {
  :root {

    color-scheme: light;
  
    --primary: var(--primary-light);
    --on-primary: var(--on-primary-light);
    --tertiary: var(--tertiary-light);
    --on-tertiary: var(--on-tertiary-light);
    --background: var(--background-light);
    --on-background: var(--on-background-light);
    --surface: var(--surface-light);
    --surface-container: var(--surface-container-light);
    --surface-container-highest: var(--surface-container-highest-light);
    --on-surface: var(--on-surface-light);
    --on-surface-disabled: var(--on-surface-disabled-light);
    --on-surface-disabled-text: var(--on-surface-disabled-text-light);
    --surface-variant: var(--surface-variant-light);
    --outline: var(--outline-light);
    --outline-variant: var(--outline-variant-light);
    --secondary-container: var(--secondary-container-light);
    --on-secondary-container: var(--on-secondary-container-light);
    --error: var(--error-light);
    --on-error: var(--on-error-light);
    --on-error-container: var(--on-error-container-light);
    --inverse-primary: var(--inverse-primary-light);
    --inverse-surface: var(--inverse-surface-light);
    --inverse-on-surface: var(--inverse-on-surface-light);
  
  }

  .logo .light { display: none; }
}

/* 
@media (prefers-color-scheme: dark) {
  :root {

    color-scheme: dark;
  
    --primary: var(--primary-dark);
    --on-primary: var(--on-primary-dark);
    --tertiary: var(--tertiary-dark);
    --on-tertiary: var(--on-tertiary-dark);
    --background: var(--background-dark);
    --on-background: var(--on-background-dark);
    --surface: var(--surface-dark);
    --surface-container: var(--surface-container-dark);
    --surface-container-highest: var(--surface-container-highest-dark);
    --on-surface: var(--on-surface-dark);
    --on-surface-disabled: var(--on-surface-disabled-dark);
    --on-surface-disabled-text: var(--on-surface-disabled-text-dark);
    --surface-variant: var(--surface-variant-dark);
    --on-surface-variant: var(--on-surface-variant-dark);
    --outline: var(--outline-dark);
    --outline-variant: var(--outline-variant-dark);
    --secondary-container: var(--secondary-container-dark);
    --on-secondary-container: var(--on-secondary-container-dark);
    --error: var(--error-dark);
    --on-error: var(--on-error-dark);
    --on-error-container: var(--on-error-container-dark);
    --inverse-primary: var(--inverse-primary-dark);
    --inverse-surface: var(--inverse-surface-dark);
    --inverse-on-surface: var(--inverse-on-surface-dark);
  
  }

  .logo .dark { display: none; }
}
 */




/*-----------------------------------*\
  #RESET
\*-----------------------------------*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a,
img,
span,
label,
input,
button,
textarea { display: block; }

a {
  text-decoration: none;
  font: inherit;
  color: inherit;
}

img { height: auto; }

input,
button,
textarea {
  background: none;
  border: none;
  font: inherit;
  color: inherit;
}

input,
textarea,
button {
  outline: none;
  width: 100%;
}





/*-----------------------------------*\
  #BASE
\*-----------------------------------*/

html{
  font-size: var(--fs-base);
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
}
body{
   background-color: var(--background);
   color: var(--on-background);
   font-family: var(--font-primary);
   font-size: var(--fs-body-medium);
   line-height: var(--lh-body-medium);
   font-weight: var(var(--fw-regular));
   min-height: 100vh;
   min-height: 100dvh;
}
input{
  caret-color: var(--primary);
}
input[type="file"]{
  display: none;
}
button{
  cursor: pointer;
}
::-webkit-scrollbar{
  width: 12px;
  height: 8px;
}
::-webkit-scrollbar-track{ background-color: var(--surface-container);}
::-webkit-scrollbar-thumb{
  background-color: var(--outline);
  border-radius: var(--radius-full);
}


/*-----------------------------------*\
  #TYPOGRAPHY
\*-----------------------------------*/

.display-large {
  font-size: var(--fs-display-large);
  font-weight: var(--fw-regular);
  line-height: var(--lh-display-large);
  letter-spacing: var(--ls-n-025);
}

.display-medium {
  font-size: var(--fs-display-medium);
  font-weight: var(--fw-regular);
  line-height: var(--lh-display-medium);
}

.display-small {
  font-size: var(--fs-display-small);
  font-weight: var(--fw-regular);
  line-height: var(--lh-display-small);
}

.content-markdown h1,
.headline-large {
  font-size: var(--fs-headline-large);
  font-weight: var(--fw-regular);
  line-height: var(--lh-headline-large);
}

.content-markdown h2,
.headline-medium {
  font-size: var(--fs-headline-medium);
  font-weight: var(--weight-regular);
  line-height: var(--lh-headline-medium);
}

.content-markdown h3,
.headline-small {
  font-size: var(--fs-headline-small);
  font-weight: var(--weight-regular);
  line-height: var(--lh-headline-small);
}

.content-markdown h4,
.title-large {
  font-size: var(--fs-title-large);
  font-weight: var(--fw-regular);
  line-height: var(--lh-title-large);
}

.content-markdown h5,
.title-medium {
  font-size: var(--fs-title-medium);
  font-weight: var(--fw-medium);
  line-height: var(--lh-title-medium);
  letter-spacing: var(--ls-p-015);
}

.content-markdown h6,
.title-small {
  font-size: var(--fs-title-small);
  font-weight: var(--fw-medium);
  line-height: var(--lh-title-small);
  letter-spacing: var(--ls-p-010);
}

.content-markdown,
.body-large {
  font-size: var(--fs-body-large);
  font-weight: var(--fw-regular);
  line-height: var(--lh-body-large);
  letter-spacing: var(--ls-p-050);
}

.body-medium {
  font-size: var(--fs-body-medium);
  font-weight: var(--fw-regular);
  line-height: var(--lh-body-medium);
  letter-spacing: var(--ls-p-025);
}

.body-small {
  font-size: var(--fs-body-small);
  font-weight: var(--fw-regular);
  line-height: var(--lh-body-small);
  letter-spacing: var(--ls-p-040);
}

.label-large {
  font-size: var(--fs-label-large);
  font-weight: var(--fw-medium);
  line-height: var(--lh-label-medium);
  letter-spacing: var(--ls-p-010);
  color: white;
}

.label-medium {
  font-size: var(--fs-label-medium);
  font-weight: var(--fw-medium);
  line-height: var(--lh-label-medium);
  letter-spacing: var(--ls-p-050);
}

.label-small {
  font-size: var(--fs-label-small);
  font-weight: var(--fw-medium);
  line-height: var(--lh-label-small);
  letter-spacing: var(--ls-p-050);
}



/*-----------------------------------*\
  #COMPONENT
\*-----------------------------------*/

 /* TEXT FIELD  */
 .text-field-wrapper{
  position: relative;
  height: 56px;
  border-radius: var(--radius-extra-small);
  box-shadow: inset 0 0 1px var(--outline);
  background-color: rgb(238 238 238);
  transition: box-shadow var(--tr-duration-short-4) var(--tr-easing-standard);
 }
.text-field-wrapper:hover{
  box-shadow: inset 0 0 0 1px var(--on-surface);
}
.text-field-wrapper:focus-within{
  box-shadow: inset 0 0 0 2px var(--primary);
}
.text-field-wrapper.error{
  box-shadow: inset 0 0 0 1px var(--error);
}
.text-field-wrapper.error:hover{
  box-shadow: inset 0 0 0 1px var(--on-error-container)
}
.text-field-wrapper.error:focus-within{
  box-shadow: inset 0 0 0 2px var(--error)
}
.label{
  position: absolute;
  top: 50%;
  left: var(--space-2);
  translate: 0 -50%;
  color: var(--on-surface-variant);
  background-color: inherit;
  padding-inline: var(--space-2);
  transform-origin: center left;
  transition: var(--tr-duration-short-4) var(--tr-easing-standard);
  transition-property: color, translate, scale;
  pointer-events: none;
  user-select: none;
}
.text-field-wrapper:hover .label{
  color: var(--on-surface)
}

.text-field-wrapper.error:hover .label{
  color: var(--on-error-container)
}
.text-field-wrapper:focus-within .label,
.text-field-wrapper:has(.text-field:not(:placeholder-shown)) .label{
  translate: 2px -40px;
  scale: 0.75;
}
.text-field-wrapper:focus-within .label{
  color: var(--primary);
}
.text-field-wrapper.error .label{
  color: var(--error)
}

.text-field{
  height: inherit;
  color: var(--on-surface);
  padding-inline: var(--space-4);
}

.text-field-wrapper.error .text-field{
  caret-color: var(--error);
}
.text-field-wrapper.error:hover .text-field{
  caret-color: var(--on-error-container);
}
/* BUTTON  */
.btn{
  position: relative;
  height: 40px;
  width: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--space-2);
  border-radius: 7px;
  padding-inline: var(--space-6);
  cursor: pointer;
  transition: box-shadow var(--tr-duration-short-2) var(--tr-easing-standard);
  left: 30%;
  margin-top: 20px;
}
.btn-fill{
  background-color: var(--primary);
  color: var(--on-primary);
  --state-layer-bg: var(var(--on-primary));
}
.btn-fill:hover:not(:focus, [disabled]){
  box-shadow: var(--shadow-1);
}
:is(.btn-fill, .btn.filled-tonal)[disabled]{
  background-color: var(--on-surface-disabled);
  color: var(--on-surface-disabled-text);
  pointer-events: none;
  user-select: none;
}
.btn-text{
  padding-inline: var(--space-3);
  color: var(--primary);
  --state-layer-bg: var(--primary)
}
.btn :where(.leading-icon, .trailing-icon){font-size: 18px;}
.btn:has(> .leading-icon){padding-inline-start: var(--space-4);}
.btn:has(> .trailing-icon){padding-inline-end: var(--space-4);}

.btn.filled-tonal{
  background-color: var(--secondary-container);
  color: var(--on-secondary-container);
  --state-layer-bg: var(--on-secondary-container);
}



/*-----------------------------------*\
  #REGISTER & LOGIN PAGES
\*-----------------------------------*/

.form-section{
  min-height: 100vh;
  min-height: 100dvh;
  display: grid;
  align-items: center;
}
.form-card{
  width: 500px;
  margin-inline: auto;
  padding-inline: 10px;
  padding: 40px;
  border-radius: var(--radius-medium);
}

.form-card .card-header{
  text-align: center;
}

.form-card .form{
  display: grid;
  gap: var(--space-3);
  margin-block: var(--space-8);
}
.form-card .card-footer{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--space-1);
  margin-top: 17px;
}
.form-card2{
  width: 500px;
  margin-inline: auto;
  padding-inline: 50px;
  padding: 40px;
  border-radius: 150px 12px 12px 150px;
  background-color: rgb(16, 16, 51);
}
.form-card2 .card-header{
  text-align: center;
  text-wrap: nowrap;
}
button.btn-login-with {
  display: inline-block;
  padding: 10px;
  border-color: #b2b2b2;
  border-radius: 7px;
  border-style: solid;
}
.btn-login-with-wrapper {
  left: 37%;
  max-width: fit-content;
  align-items: center;
  display: flex;
  justify-items: center;
  list-style-type: none;
  text-align: center;    
  position: relative;
  gap: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.form-card img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}
.form-card2 img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}
button.logo-icon {
  display: inline-block;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 20px;
}
.rcorners3 {
  border-radius: 25px;
  background: url(../images/house.jpeg);
  background-position: left top;
  background-repeat: round;
  padding-top: 20px;
  width: 300px;
  height: 300px;
  position: relative;
  left: 17%;
}
.container {
  display: flex;
  width: fit-content;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-radius: 12px;
  background-color: #ffffff;
  /* box-shadow: var(--shadow-5); */
  box-shadow: 0px 8px 12px 6px #00000026;
}
p.body-large.text-on-surface-variant {
  font-size: xx-large;
  font-weight: 700;
  padding: 20px;
}
p.body-large.text-on-surface-variant2 {
  font-size: xx-large;
  color: white;
  font-weight: 700;
  padding: 20px;
  left: 4%;
  position: relative;
}
button.btn.btn-fill {
  border-style: solid;
  border-color: #ffffff;
  background-color: rgb(0, 0, 39);
  left: 35%;
}
section.section.form-section {
  background: linear-gradient(to right, #f1f1db 0%, #b6c6fd 100%);
}






