<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Login</title>

</head>
<body>
    <section class="section form-section">
        <div class="container">
            <div class="form-card">
                <div class="card-header">
                    <p class="body-large text-on-surface-variant">
                        Sign In
                    </p>
                    <div class="btn-login-with-wrapper">
                        <button type="submit" class="btn-login-with" data-submit-btn>
                            <a href="" title="facebook icons"><img style="width: 24px;" src="/images/facebook.png" alt=""></a>
                            <div class="state-layer"></div>
                        </button>
                        <button type="submit" class="btn-login-with" data-submit-btn>
                            <a href="" title="google icons"><img  style="width: 24px;"  src="/images/google.png" alt=""></a>
                            <div class="state-layer"></div>
                        </button>
                    </div>
                    <p class="card-footer">
                        or continue with email and password
                    </p>
                </div>
                <form action="" class="form" data-form>
                   
                    <div class="text-field-wrapper">
                        <label for="" class="body-large label">Email</label>
                        <input type="text" name="email" id="email" autocomplete="email" 
                         placeholder=" " required class="body-large text-field" autofocus>
                    </div>
                    <div class="text-field-wrapper">
                        <label for="password" class="body-large label">Password</label>
                        <input type="password" name="password" minlength="8" id="password"  
                         placeholder=" " required class="body-large text-field" >
                    </div>
                    <div class="card-footer">
                        <p class="card-footer"> Forgot your password ?</p>
                    </div>  
                    <div class="card-footer2">
                        <p  class="card-footer"> New to the Web ?</p>
                        <a style="color: blue;" href="/" class="card-footer text-primary" >Create an account</a>
                    </div>
                    <button type="submit" class="btn btn-fill" data-submit-btn>
                        <p class="label-large">Sign In</p>
                        <div class="state-layer"></div>
                    </button>
                </form>
            </div>
            <div class="form-card2">
                <div class="card-header">
                    <p class="body-large text-on-surface-variant2">
                        Apartment management
                    </p>
                        <button type="submit" class="logo-icon" data-submit-btn>
                            <p class="rcorners3"></p>
                            <div class="state-layer"></div>
                        </button>    
                </div>
                <button type="submit" class="btn btn-fill" data-submit-btn>
                        <p class="label-large">Sign Up</p>
                        <div class="state-layer"></div>
                </button>
            </div>
        </div>
    </section>
    </div>
</body>
</html>